.item {
  display: flex;
  align-items: flex-end;
  width: 460px;
  max-height: 100px;
  padding: 0 0 0 15px;
}

.item img {
  width: 60px;
  height:60px;
  border-radius: 50%;
  padding: 0;
  margin: 0 15px 0 0;
}

.body {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 370px;
  max-height: 370px;
  border-radius: 15px 5px 15px 5px;
  background-color: rgb(146, 177, 71);
  padding: 15px;
}

.background {
  width: 30px;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: -8px;
  background-color: rgb(146, 177, 71);
  transform: skew(-49deg, 0deg);
  border-radius: 10px 5px 5px 0;
  z-index: -1;
}

.text h2, .text p {
  padding: 0;
  margin: 0;
}

.hour {
  align-self: flex-end;
}