.item {
  margin: 10px;
}

.item span {
  border-radius: 20px;
  margin: 0 5px 0 0;
  padding: 10px 5px;
}

.item button {
  border: 1px solid #e0911f;
  border-radius: 20px;
  cursor: pointer;
}

.item button:hover {
  background-color: #efd1a4;
}
