label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox {
  display: none;
}

.checkbox + .notRealCheckbox {
  display: inline-block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  transition: .4s all;
  outline: 1px solid #f5b246;
  margin: 0 3px;
}

.checkbox:checked + .notRealCheckbox {
  outline: none;
  background: url("./../../../../image/homeworks4/checkbox.jpg") 0 0/100% no-repeat;
}

.spanClassName {
  font-size: 18px;
  padding: 0;
}
