.greetingForm {
}

.inputAndButtonContainer {
	display: flex;
	gap: 12px;
}

.error {
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: #CC0000;
}

.input {
	width: 372px;
	height: 36px;
	border: 1px solid #D1D1D1;
	border-radius: 5px;
	outline: none;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	color: #000;
	padding: 8px 12px;
	margin: 0 0 7px;
}

.input:focus {
	border: 1px solid black;
}

.errorInput {
	border: 1px solid #CC0000;
}

.errorInput:focus {
	border: 1px solid #CC0000;
}

.button {
	height: 36px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	border: none;
	border-radius: 3px;
	color: white;
	padding: 8px 24px;
	cursor: pointer;
	background: #0066CC;
}

.button:focus {
	background: #0066CC;
}

.button:active {
	background: #0066CC;
}

.button:disabled {
	background: #0066CC;
	opacity: 0.5;
}

.text {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 17px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0 0 9px;
}

.greeting {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #000;
}
