.body {
  min-height: 42px;
  margin: 20px;
}

.input {
  height: 16px;
  margin: 0 5px 0 0;
}

.errText {
  color: red;
  font-size: 12px;
  margin: 2px 0 0 0;
}

.body .error {
  border: 1px solid red;
}

.counter {
  margin: 0 5px;
}
